@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>Felipe Pavanela Melleiro</h3>

<address>
    <abbr title="E-mail">E-mail:</abbr>
    felipe.melleiro@gmail.com<br />
    <abbr title="Celular">Celular:</abbr>
    (19) 9 9809.2220
</address>

<address>
    <strong>Skype:</strong>   <a href="javascript:void(0);">felipe.melleiro</a><br />
</address>