@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste Full Stack</h1>
    <p class="lead">Desenvolvimento do teste com .Net Core e Entity Framework, banco de dados SQL Server.</p>
    <p>Para dados de acesso ao sistema, utiliza as informações pré cadastrada.</p>
    <p>
        <address>
            <strong>E-mail:</strong> admin@teste.com.br<br />
            <strong>Senha:</strong> 123456<br />
        </address>
    </p>
</div>

